/* The section top, popular or ... */
/* currently no use */
.top {
  width: 100%;
}

.title {
  padding: 40px 0 0 7%;
  font-size: 30px;
  font-weight: 600;
}


/* The game block flexbox */
#games,
#games2 {
  margin: 0 5% 50px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.game {
  min-width: 250px;
  max-width: 18vw;
  position: relative;
  width: auto;
  height: auto;
  margin: 1% 0 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game .name {
  /* background-color: rgba(235, 244, 255, 0.315); */
  height: 60px;
  font-size: 27px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* font-weight: bold; */
  margin-bottom: 5px;
}

/* .topBar {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
} */

.game .rating {
  position: absolute;
  top: 65px;
  left: 0px;
  padding: 10px 15px;
  text-align: center;
  background-color: #9BC1E7;
  color: white;
}

/* The ranking at the top and the buttons for shelf and wishlist */

/* I've positioned the buttons as absolute to the game */
.game button {
  position: absolute;
  top: 20;
  width: 40px;
  height: 40px;
  border: none;
  color: white;
}

.shelf {
  right: 40px;
  background-color: #33669A;
}

.wishlist {
  right: 0px;
  background-color: #9BC1E7;
}



/* CSS for the bottombar (players, duration, age) */

.bottomBar {
  display: flex;
  flex-direction: row;
}

.bottomBar p {
  width: 33%;
  padding: 10px;
  text-align: center;
  color: white;
}

.bottomBar p.players,
.bottomBar p.age {
  background-color: #9BC1E7;
}

.bottomBar p.duration {
  background-color: #33669A;
}

.game img {
  object-fit: contain;
  width: 18vw;
  height: 25vh;
}